<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/smartbuoy</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">false</property>


        <!-- c3po Connection Pool -->
        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">120</property> <!-- seconds -->
        <property name="c3p0.max_size">100</property>
        <property name="c3p0.max_statements">0</property>
        <property name="c3p0.min_size">10</property>
        <property name="c3p0.timeout">180</property> <!-- seconds -->

        <!-- My old configuration
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_statements">180</property>
        <property name="c3p0.acquire_increment">5</property>
        -->

        <!-- Классы сущностей базы данных -->
        <mapping class="su.systserv.smartBuoy.buoy.entity.Buoy"/>
        <mapping class="su.systserv.smartBuoy.buoy.entity.MeteoBuoy"/>

    </session-factory>
</hibernate-configuration>